.house-show {
  padding: 0;
  width: 100vw;
  height: calc(100vh - 77px);
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    padding: 0;
  }
}
.container {
  max-width: 1320px;
  width: 70%;
  margin: 0 auto;
  padding: 0 0 10rem;
  overflow-y: scroll;
  height: calc(100vh - 77px);
  //   display: flex;
  //   justify-content: center;
  @media (max-width: 768px) {
    width: 100%;
    height: calc(100vh - 40px);
  }
}
.container2 {
  width: 100%;
  padding: 0;
}

.img-div {
  position: relative;
  float: left;
  width: 100%;
  //   padding: 0 1rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
.house-favorite {
  position: absolute;
  display: flex;
  z-index: 1;
  top: 0;
  border-radius: 0.5rem;
  width: auto;
  height: auto;
  right: 1.2rem;
  border: 0px solid red;
  padding: 0.2rem 0.8rem;
  margin: 1rem 0 0 0;
  color: #fd675a;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.heart {
  width: 2rem;
}

.info {
  float: left;
  width: 100%;
  padding-bottom: 5rem;
  //   padding: 0 1rem;
  box-sizing: border-box;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.contact {
  float: left;
  width: 25%;
  //   padding: 0 1rem;
  // box-sizing: border-box;
  @media (max-width: 768px) {
    display: none;
  }
}
.navigation {
  background-color: #fff;
  border: 1px solid #eee;
  text-align: center;
}
.contact {
  background-color: #fd675a;
  color: white;
  width: 90%;
}

.house-title2 {
  text-align: center;
  font-family: "Galmuri9";
  font-size: 2rem;
  height: 3rem;
  border-radius: 1rem 1rem 0 0;
  //   color: rgb(234, 94, 118);
  //   padding: 0 1rem;
  margin-top: 1rem;
  background-color: rgba(234, 94, 117, 0.59);
  color: white;
}

.section-title {
  background-color: rgba(229, 64, 64, 0.5);
  color: white;
  font-size: 1.5rem;
  padding: 0 5px;
  margin: 0 0 5px 0;
  text-align: center;
  font-family: "galmuri9";
}

.flat-house {
  width: 100%;
}

.house-table {
  padding: 0;
  width: 100%;
  display: flex;
  margin: 2rem 0;
}

.table-col1 {
  background-color: beige;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.table-col2 {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.table-item {
  height: 2rem;
  text-align: center;
  line-height: 2rem;

  border: 1px solid rgba(184, 186, 155, 0.623);
}

.floating-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.floating-btn {
  line-height: 5rem;
  text-align: center;
  font-family: "galmuri9";
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgb(234, 94, 118);
  color: white;
  box-shadow: -1px 4px 12px 5px #b5787179;
  z-index: 999999999999 !important;
}
